<p class="title-label">Session <span class="defaultLightBlue">Two</span></p>
<!-- SIDE BAR COMPONENT -->
<div class="m-t-1">
    <app-sidebar></app-sidebar>
  </div>
<div class="row mt-2">
    <div class="col-11 custom-modal mt-sm-3">
      <div class="row">
        <div class="center col-11 mb-5 mt-5 text-justify">
          <div class="d-flex justify-content-center row">
<!-- Session 2 First Set Of Tasks -->
            <!-- Task Group 1 -->
          <mat-card class="center content-card shadow">
              <mat-card-header>
                <mat-card-title>Introduction</mat-card-title>
              </mat-card-header>
              <hr class="shadow-sm">
              <img mat-card-image class="col-auto m-auto"
                src="https://images.unsplash.com/photo-1471666875520-c75081f42081?ixlib=rb-1.2.1&auto=format&fit=crop&w=1138&q=80" alt="Agile Picture">
                <hr class="shadow-sm">
                <mat-card-content>
                <p>An Introduction into Session 2 and what you will complete by the end of the Session. 
                  How the Scrum roles will be utilised throughout the Session</p>
              </mat-card-content>
              <div class="center-items">
                <mat-card-actions>
                  <button mat-button type="button" class="btn align-middle btn-primary btn-lg disabled"
                    (click)="openLesson('session-two-introduction')">Begin Lesson</button>
                </mat-card-actions>
              </div>
            </mat-card>
  
            <!-- SCRUM EVENT - SPRINT PLANNING MEETING -->
            <mat-card class="center content-card shadow">
                <mat-card-header>
                  <mat-card-title>Scrum Meeting!</mat-card-title>
                  <mat-card-subtitle>Sprint Planning Meeting</mat-card-subtitle>
                </mat-card-header>
                <hr class="shadow-sm">
                <img mat-card-image class="col-auto m-auto"
                  src="https://images.unsplash.com/photo-1512805668868-1608a189cc2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80" alt="Agile Picture">
                  <hr class="shadow-sm">
                  <mat-card-content>
                  <p>
                    Based on the Product Backlog You created in Session 1, you will be asked to analyse, prioritise and define a list of requirements to be implemented during the first Sprint.
                    You will be following Scrum methods in order to gather these requirements.
                    You will then submit these requirements in order to continue.
                  </p>
                </mat-card-content>
                <div class="center-items">
                  <mat-card-actions>
                    <button mat-button type="button" class="btn align-middle btn-primary btn-lg disabled"
                      (click)="openLesson('session-two-SPM')">Begin Lesson</button>
                  </mat-card-actions>
                </div>
              </mat-card>
  
            <!-- SCRUM EVENT - DAILY SCRUM MEETING -->
            <mat-card class="center content-card shadow">
                <mat-card-header>
                  <mat-card-title>Scrum Meeting!</mat-card-title>
                  <mat-card-subtitle>Daily Scrum Meeting</mat-card-subtitle>
                </mat-card-header>
                <hr class="shadow-sm">
                <img mat-card-image class="col-auto m-auto"
                  src="https://images.unsplash.com/photo-1515187029135-18ee286d815b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Agile Picture">
                  <hr class="shadow-sm">
                  <mat-card-content>
                  <p>
                    You will be conducting a daily scrum meeting.
                    You will base the content of this meeting on the tasks you have been assigned to complete on this sprint.
                    You will then submit what you discussed during the meeting.
                  </p>
                </mat-card-content>
                <div class="center-items">
                  <mat-card-actions>
                    <button mat-button type="button" class="btn align-middle btn-primary btn-lg disabled"
                      (click)="openLesson('session-two-DSM')">Begin Lesson</button>
                  </mat-card-actions>
                </div>
              </mat-card>
          </div>
          <div class="d-flex justify-content-center row">
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </div>