<div class="container-fluid pr-5">
  <div class="row mt-2">
    <div class="col-11 custom-modal mt-sm-3" style="max-width: 650px;">
      <div class="center col-11 mb-5 mt-5 text-justify">
        <h2 class="center">Next Task</h2>
        <hr class="shadow-sm">
        <div class="d-flex justify-content-center row">
        <!-- TASK DESCRIPTION -->
          <mat-card class="content-card shadow mt-5">
            <mat-card-header>
              <mat-card-title>Task Description</mat-card-title>
            </mat-card-header>
            <hr class="shadow-sm">
            <mat-card-content class="ml-3 mt-4 text-left">
                <p style="font-weight: 500; font-size: 15px;">This Quiz will test your knowledge on the Agile Methodology.</p>
                <p style="font-weight: 500;font-size: 15px;">Complete this Quiz with 80% Score or more in order to continue to the next stage of the course.</p>
                <p class="center mt-5" style="font-weight: bold;font-size: 15px;">Good Luck!</p>
              </mat-card-content>
          </mat-card>
        <!-- TASK ACTION -->
          <mat-card class="content-card shadow mt-5">
            <mat-card-header>
              <mat-card-title>Quiz Time! - Agile</mat-card-title>
            </mat-card-header>
            <hr class="shadow-sm">
            <img mat-card-image class="col-auto m-auto"
              src="https://cdn-images-1.medium.com/max/1000/1*qpD1rt8_od8y-x-Uq_pwag.png" alt="Agile Picture">
              <hr class="shadow-sm">
            <div class="center-items">
              <mat-card-actions>
                <button mat-button type="button" class="btn align-middle btn-primary btn-lg disabled"
                  (click)="openQuiz('agile')">Start Quiz</button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>