// IMPORT VARIABLES
@import "../styles/variables";

.navbar-body{
    width: 100%;
    height: 50px;
        
    .navbar-frame {
        position: absolute;
        left: 0px;
        top: 0px;
        height: inherit;
        width: 50%;
        transform: translateX(0%);
        
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center; 

        .navbar-item {
            padding: auto;
            height: 100%;
            width: calc(width / 10);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            .navbar-item-text {
                font-size: 2em;
                color: $defaultWhite;
                text-decoration: none;
            }
        }

        .navbar-item:hover {
            cursor: pointer;
            .navbar-item-text {
                color: $defaultLightBlue;
            }
        }
        
        .navbar-item:active ::after {
            cursor: pointer;
            border-bottom: 5px solid $defaultLightBlue;
            transform: translateX(20%);
            .navbar-item-text {
                color: $defaultLightBlue;
            }
        }
        
        .navbar-seperator  {
            width:auto;
            border-right: 2px solid $defaultWhite;
            height: 50%;
            margin: 2px;
        }
    }
    /* LOGO */
    .logo {
        position: fixed;
        top: 0;
        right: 0;
        font-family: 'Righteous', cursive;    
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.1em;
        margin: 10px 20px 5px 0px;
    
        .project {
            color: $defaultWhite;
            float: left;
        }
        .sensei {
            color: $defaultLightBlue;
            float: right;
        }
    }
}
