<div class="navbar-body">
    <div class="navbar-frame">
        <div class="navbar-item">
            <a class="navbar-item-text" routerLink="/">Home</a>
        </div>
        <div class="navbar-seperator"></div>
        <div class="navbar-item">
            <a class="navbar-item-text" routerLink="/register">Register</a>
        </div>
        <div class="navbar-seperator"></div>
        <div class="navbar-item">
            <a class="navbar-item-text" *ngIf="!auth.isLoggedIn()" routerLink="/login">Login</a>
        </div>
        
    </div>
    <!-- // TODO Create Logout, Login Links
    <a class="navbar-item-text" *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></a>
    <a *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></a>
    <a *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></a> -->
    <div class="logo">
            <a class="project">Project</a><a class="sensei">Sensei</a>
    </div>
</div>
<router-outlet></router-outlet>
