<div class="navbar-body">
    <div class="navbar-frame">
        <div class="navbar-item">
            <span class="navbar-item-text">Item 1</span>
        </div>
        <div class="navbar-seperator"></div>
        <div class="navbar-item">
            <span class="navbar-item-text">Item 2</span>
        </div>
        <div class="navbar-seperator"></div>
        <div class="navbar-item">
            <span class="navbar-item-text">Item 3</span>
        </div>
        
    </div>
    // TODO Create Logout, Login Links
    <span *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></span>
    <span *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></span>
    <span *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></span>
    <div class="logo">
            <span class="project">Project</span><span class="sensei">Sensei</span>
    </div>
</div>
<router-outlet></router-outlet>
