<nav class="fixed-top navbar navbar-dark navbar-expand-sm">
 <div class="container-fluid">

    <!-- COLLAPSE MENU BAR -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">

    <ul class="h2 navbar-nav">
        <li class="nav-item active m-4">
        <a class="nav-link" routerLink="/home" routerLinkActive="text-primary" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item active m-4">
          <a class="nav-link" routerLink="/session-one" routerLinkActive="text-primary">Session One</a>
        </li>
        <li class="nav-item active m-4">
          <a class="nav-link" routerLink="/session-two" routerLinkActive="text-primary">Session Two</a>
        </li>
        <li class="nav-item active m-4">
          <a class="nav-link" routerLink="/session-three" routerLinkActive="text-primary">Session Three</a>
        </li>
        <li class="nav-item active m-4">
        <a class="nav-link" routerLink="/register" routerLinkActive="text-primary">Register</a>
        </li>
        <li class="nav-item m-4">
        <a class="nav-link" *ngIf="!auth.isLoggedIn()" routerLink="/login" routerLinkActive="text-primary">Login</a>
        </li>
    </ul>
    </div>

    <!-- // TODO Create Logout, Login Links
    <a class="navbar-item-text" *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></a>
    <a *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></a>
    <a *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></a> -->

    <div class="navbar-brand" routerLink="/">
            <span class="project h1">Project</span><span class="sensei h1 text-primary">Sensei</span>
    </div>
</div>
</nav>

<div class="container-fluid">
        <router-outlet></router-outlet>
</div>
<div class="col-sm-4 col-md-4" #sidebar>
    <h1>SIDEBARRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR</h1>
</div>

<footer>
    <h1>FOOOOOOOOOOOOOOOOOOOTTTTTTTTTEEEEEEEEEEERRRRRRRRRRRRR</h1>
</footer>