//Colours
$defaultDarkGrey:  #565656;
$defaultBlack: #000000;
$defaultLightGrey: #E5E5E5;

//Background
$defaultBackground: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);

//Logo
$defaultWhite: #f5f5f5;
$defaultLightBlue: #3d9eb3;

//Font
$defaultFont: 'Righteous', cursive;

//Border
$defaultBorder: 2px $defaultBlack;
.defaultborder {
    border: $defaultBorder;
}

//Margin
$defaultMargin: 0 auto;

.defaultLightBlue {
    color: $defaultLightBlue;
}
