<div mat-dialog-header class="m-3">
  <h1 class="center text-capitalize">{{ activity$.title }}</h1>
</div>
<div mat-dialog-content class="h-100 activity-component">
  <mat-card class="activity-card-content">
    <!-- <mat-card-header>
        <mat-card-title>Quiz Time! - {{ mcqName }}</mat-card-title>
      </mat-card-header> -->
    <mat-card-content class="activity-component">
      <!-- <app-activity *ngIf="activity$.type == 'listMaker'"></app-activity> -->

    </mat-card-content>
  </mat-card>
</div>
<div class="center d-flex justify-content-center m-3">
  <button class="btn btn-lg btn-outline-success" (click)="onSubmit();">Continue</button>
  <h4 class="text-monospace ml-5">OR Press Enter to Continue</h4>
</div>
<div mat-dialog-actions class="d-flex justify-content-center m-1">
  <button class="btn-outline-danger col-11" mat-button [mat-dialog-close]="data.lessonComplete" cdkFocusInitial>Close
    Activity</button>
</div>
