<div mat-dialog-header class="m-3">
  <h1 class="center text-capitalize">{{ activity$.title }}</h1>
</div>
<div mat-dialog-content class="h-100 activity-component">
  <mat-card class="activity-card-content">
    <!-- <mat-card-header>
        <mat-card-title>Quiz Time! - {{ mcqName }}</mat-card-title>
      </mat-card-header> -->
    <mat-card-content class="activity-component">
      <div *ngIf="activityType$ == 'content'" class="content-fluid">
        <app-content></app-content>
      </div>
      <div *ngIf="activityType$ == 'listMaker'" class="content-fluid">
        <app-list-maker></app-list-maker>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="center d-flex justify-content-center m-3">
  <button class="btn btn-lg btn-outline-primary mr-5" (click)="previous();">Prev</button>
  <button class="btn btn-lg btn-outline-success ml-5" (click)="next();">Next</button>
</div>
<div mat-dialog-actions class="d-flex justify-content-center m-1">
  <button (click)="onExit();" class="btn-outline-danger" mat-button cdkFocusInitial>Exit</button>
  <button *ngIf="activity$.type == 'listMaker' && listData.length >= 5" (click)="onSubmit();" [mat-dialog-close]="activity$" class="btn-outline-success" mat-button cdkFocusInitial>Save and Close</button>
</div>
