<p class="title-label">Session <span class="defaultLightBlue">One</span></p>
<!-- SIDE BAR COMPONENT -->
<div class="m-t-1">
  <app-sidebar></app-sidebar>
</div>
<div class="row mt-2">
  <div class="col-11 custom-modal mt-sm-3" style="max-width:1000px">
    <div class="row">
      <div class="center col-11 mb-5 mt-5 text-justify">

<!-- BEGINNING OF AGILE LESSONS -->
        <div class="d-flex justify-content-start row">          
          <!-- AGILE LESSON 1 -->
          <mat-card class="center content-card shadow">
            <mat-card-header>
              <mat-card-title>Learn Agile!</mat-card-title>
              <mat-card-subtitle class="mat-card-subtitle text-capitalize text-dark text-monospace">Introduction to Agile</mat-card-subtitle>
            </mat-card-header>
            <hr class="shadow-sm">
            <img mat-card-image class="col-auto m-auto"
              src="https://cdn-images-1.medium.com/max/1000/1*qpD1rt8_od8y-x-Uq_pwag.png" alt="Agile Picture">
              <hr class="shadow-sm">
              <mat-card-content>
              <p>
                In this lesson we will introduce you to the Agile Methodology, teach you about Agile's History and tell you
                how popular Agile is today
              </p>
            </mat-card-content>
            <div class="center-items">
              <mat-card-actions>
                <button mat-button type="button" class="btn align-middle btn-primary btn-lg"
                  (click)="openLesson('agile')">Begin Lesson</button>
              </mat-card-actions>
            </div>
          </mat-card>

          <!-- AGILE LESSON 2 -->
          <mat-card class="center content-card shadow">
              <mat-card-header>
                <mat-card-title>Learn Agile!</mat-card-title>
                <mat-card-subtitle class="mat-card-subtitle text-capitalize text-dark text-monospace">The Agile Manifesto</mat-card-subtitle>
              </mat-card-header>
              <hr class="shadow-sm">
              <img mat-card-image class="col-auto m-auto"
                src="https://cdn-images-1.medium.com/max/1000/1*qpD1rt8_od8y-x-Uq_pwag.png" alt="Agile Picture">
                <hr class="shadow-sm">
                <mat-card-content>
                <p>
                  In this lesson we will discuss the Agile Manifesto, we will be dicussing the 12 core priciples and explain what they mean.
                </p>
              </mat-card-content>
              <div class="center-items">
                <mat-card-actions>
                  <button mat-button type="button" class="btn align-middle btn-primary btn-lg"
                    (click)="openLesson('agile')">Begin Lesson</button>
                </mat-card-actions>
              </div>
            </mat-card>

          <!-- AGILE QUIZ -->
          <mat-card class="center content-card shadow">
            <mat-card-header>
              <mat-card-title>Learn Agile!</mat-card-title>
              <mat-card-subtitle class="mat-card-subtitle text-capitalize text-dark text-monospace">Quiz Time! - Agile</mat-card-subtitle>
            </mat-card-header>
            <hr class="shadow-sm">
            <img mat-card-image class="col-auto m-auto"
              src="https://cdn-images-1.medium.com/max/1000/1*qpD1rt8_od8y-x-Uq_pwag.png" alt="Agile Picture">
              <hr class="shadow-sm">
              <mat-card-content>
              <p>
                This quiz will test your knowledge on Agile
                Completing this quiz will allow you to proceed to the next stage
              </p>
            </mat-card-content>
            <div class="center-items">
              <mat-card-actions>
                <button mat-button type="button" class="btn align-middle btn-primary btn-lg"
                  (click)="openQuiz('agile')">Start Quiz</button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
<!-- END OF AGILE LESSONS -->

<hr class="shadow-sm">

<!-- BEGINNING OF SCRUM LESSONS -->
<div class="d-flex justify-content-start row">          
    <!-- SCRUM LESSON 1 -->
    <mat-card class="center content-card shadow">
      <mat-card-header>
        <mat-card-title>Learn Scrum!</mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle text-capitalize text-dark text-monospace">Introduction to Scrum</mat-card-subtitle>
      </mat-card-header>
      <hr class="shadow-sm">
      <img mat-card-image class="col-auto m-auto"
        src="https://certifind.com/blog/wp-content/uploads/2017/08/scrum-logo-768x357.jpg" alt="Scrum Picture">
        <hr class="shadow-sm">
        <mat-card-content>
        <p>
          In this lesson we will introduce you to the Scrum Methodology, teach you about Scrum's History and tell you
          how popular Scrum is today
        </p>
      </mat-card-content>
      <div class="center-items">
        <mat-card-actions>
          <button mat-button type="button" class="btn align-middle btn-primary btn-lg"
            (click)="openLesson('scrum')">Begin Lesson</button>
        </mat-card-actions>
      </div>
    </mat-card>

    <!-- SCRUM LESSON 2 -->
    <mat-card class="center content-card shadow">
        <mat-card-header>
          <mat-card-title>Learn Scrum!</mat-card-title>
          <mat-card-subtitle class="mat-card-subtitle text-capitalize text-dark text-monospace">Implementing Scrum</mat-card-subtitle>
        </mat-card-header>
        <hr class="shadow-sm">
        <img mat-card-image class="col-auto m-auto"
          src="https://certifind.com/blog/wp-content/uploads/2017/08/scrum-logo-768x357.jpg" alt="Scrum Picture">
          <hr class="shadow-sm">
          <mat-card-content>
          <p>
            In this lesson we will discuss the Scrum Manifesto, we will be dicussing the 12 core priciples and explain what they mean.
          </p>
        </mat-card-content>
        <div class="center-items">
          <mat-card-actions>
            <button mat-button type="button" class="btn align-middle btn-primary btn-lg"
              (click)="openLesson('scrum')">Begin Lesson</button>
          </mat-card-actions>
        </div>
      </mat-card>

    <!-- SCRUM QUIZ -->
    <mat-card class="center content-card shadow">
      <mat-card-header>
        <mat-card-title>Learn Scrum!</mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle text-capitalize text-dark text-monospace">Quiz Time! - Scrum</mat-card-subtitle>
      </mat-card-header>
        <hr class="shadow-sm">
      <img mat-card-image class="col-auto m-auto"
        src="https://certifind.com/blog/wp-content/uploads/2017/08/scrum-logo-768x357.jpg" alt="Scrum Picture">
        <hr class="shadow-sm">
        <mat-card-content>
        <p>
          This quiz will test your knowledge on Scrum
          Completing this quiz will allow you to proceed to the next stage
        </p>
      </mat-card-content>
      <div class="center-items">
        <mat-card-actions>
          <button mat-button type="button" class="btn align-middle btn-primary btn-lg"
            (click)="openQuiz('scrum')">Start Quiz</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
<!-- END OF SCRUM LESSONS -->

<hr class="shadow-sm">

<!-- BEGINNING OF CASE STUDY LESSONS -->
<div class="d-flex justify-content-start row">          
    <!-- CASE STUDY LESSON 1 -->
    <mat-card class="center content-card shadow">
      <mat-card-header>
        <mat-card-title>Learn Case Study!</mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle text-capitalize text-dark text-monospace">Introduction to Case Study</mat-card-subtitle>
      </mat-card-header>
      <hr class="shadow-sm">
      <img mat-card-image class="col-auto m-auto"
        src="https://websitesetup.org/wp-content/uploads/2017/02/Hosting-Reviews-640x640.png" alt="Case Study Picture">
        <hr class="shadow-sm">
        <mat-card-content>
        <p>
          In this lesson we will introduce you to the Case Study Methodology, teach you about Case Study's History and tell you
          how popular Case Study is today
        </p>
      </mat-card-content>
      <div class="center-items">
        <mat-card-actions>
          <button mat-button type="button" class="btn align-middle btn-primary btn-lg"
            (click)="openLesson('case-study')">Begin Lesson</button>
        </mat-card-actions>
      </div>
    </mat-card>

    <!-- CASE STUDY LESSON 2 -->
    <mat-card class="center content-card shadow">
        <mat-card-header>
          <mat-card-title>Learn Case Study!</mat-card-title>
          <mat-card-subtitle class="mat-card-subtitle text-capitalize text-dark text-monospace">Implementing Case Study</mat-card-subtitle>
        </mat-card-header>
        <hr class="shadow-sm">
        <img mat-card-image class="col-auto m-auto"
          src="https://websitesetup.org/wp-content/uploads/2017/02/Hosting-Reviews-640x640.png" alt="Case Study Picture">
          <hr class="shadow-sm">
          <mat-card-content>
          <p>
            In this lesson we will discuss the Case Study Manifesto, we will be dicussing the 12 core priciples and explain what they mean.
          </p>
        </mat-card-content>
        <div class="center-items">
          <mat-card-actions>
            <button mat-button type="button" class="btn align-middle btn-primary btn-lg"
              (click)="openLesson('case-study')">Begin Lesson</button>
          </mat-card-actions>
        </div>
      </mat-card>

    <!-- CASE STUDY QUIZ -->
    <mat-card class="center content-card shadow">
      <mat-card-header>
        <mat-card-title>Learn Case Study!</mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle text-capitalize text-dark text-monospace">Quiz Time! - Case Study</mat-card-subtitle>
      </mat-card-header>
        <hr class="shadow-sm">
      <img mat-card-image class="col-auto m-auto"
        src="https://websitesetup.org/wp-content/uploads/2017/02/Hosting-Reviews-640x640.png" alt="Case Study Picture">
        <hr class="shadow-sm">
        <mat-card-content>
        <p>
          This quiz will test your knowledge on Case Study
          Completing this quiz will allow you to proceed to the next stage
        </p>
      </mat-card-content>
      <div class="center-items">
        <mat-card-actions>
          <button mat-button type="button" class="btn align-middle btn-primary btn-lg"
            (click)="openQuiz('case-study')">Start Quiz</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
<!-- END OF CASE STUDY LESSONS -->
      </div>
    </div>
  </div>
</div>