.lesson-content-card {
    margin: 5% 2.5% 5% 2.5%;
    min-width: 90%;
    width: 100%;
    flex-basis: 45%;
}

.mat-dialog-content.lesson-component {
    min-height: 70vh !important;
    min-width: auto;
    margin-top: 0rem;
    padding: 1.5rem;
}