<div mat-dialog-header class="m-3">
  <h1 class="center text-capitalize">{{ lessonName }}</h1>
</div>
<div mat-dialog-content class="h-100 lesson-component" >
  <mat-card class="lesson-component">
      <!-- <mat-card-header>
        <mat-card-title>Quiz Time! - {{ mcqName }}</mat-card-title>
      </mat-card-header> -->
      <mat-card-content class="lesson-component">
        <h2>LESSON CONTENT...</h2>
        <div class="row col-5 center">
          <button mat-button class="btn btn-lg btn-primary mr-5 ml-5" (click)="onSubmit();">Continue</button>
          <h4 class="align-center  mr-5 ml-5">OR Press Enter to Continue</h4>
        </div>
      </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
<button class="col" mat-button [mat-dialog-close]="data.lessonComplete" cdkFocusInitial>Close Lesson</button>
</div>