<div class="row">
<div class="col-6">
<section class="m-4 ml-5">
  <div class="row">
    <header class="header mr-5">
      <h1>Product Backlog</h1>
    </header>
    <button mat-button class="btn-primary" (click)="openDialog()">Add Requirement</button>
  </div>
    <section class="main">
        <mat-list *ngIf="list.length > 0">
            <mat-list-item class="m-3" style="height: 100%;" *ngFor="let item of list" >
              <span class="row d-flex flex-column mt-3 mb-3">
                <label class="">Title: </label>
                <span class="mb-3 mt-3 text-break">{{item?.title}}</span>
                <label class="">Description: </label>
                <span class="mt-3 mb-3 text-break">{{item?.description}}</span>
                <button class="btn btn-outline-danger w-75" (click)="removeItem(item.id)">Remove</button>
              </span>
              <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </section>
    <footer class="footer" *ngIf="list.length > 0">
      <span class="list-count">Requirements Count: <strong>{{list?.length}}</strong></span>
    </footer>
  </section>
</div>

<div class=" col-6">
    <section class="m-4 ml-5">
      <div class="row">
        <header class="header mr-5">
          <h1>Example</h1>
        </header>
      </div>
        <section class="main">
            <mat-list *ngIf="example_list.length > 0">
                <mat-list-item class="m-3" style="height: 100%;" *ngFor="let example_item of example_list" >
                  <span class="row d-flex flex-column mt-3 mb-3">
                    <label class="">Title: </label>
                    <span class="mb-3 mt-3">{{example_item?.title}}</span>
                    <label class="">Description: </label>
                    <span class="mt-3 mb-3">{{example_item?.description}}</span>
                  </span>
                  <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </section>
        <footer class="footer" *ngIf="example_list.length > 0">
          <span class="list-count">Requirements Count: <strong>{{example_list?.length}}</strong></span>
        </footer>
      </section>
    </div>
  </div>