// IMPORT VARIABLES
@import "../../../styles/variables";

  .mat-raised-button {
    color: rgba(255, 255, 255, 0.87);
    background-color: #3d9eb3;
}


.home-subheading {
  font-size: 1.6em;
  margin-left: 15px;
}

.home-paragraph {
  font-size: 1.4em;
  margin-left: 20px;
}

.home-paragraph-indent {
  font-size: 1.4em;
  margin-left: 30px;
}
.nav{
  margin-bottom: 1.5rem !important;
}


.nav-tabs .nav-item {
  margin-bottom: -1px;
  margin: 0 auto;
  a {
    color: black !important;
  }
}

.nav-tabs .nav-link {
  border-radius: 5px;
  &.active {
    box-shadow: 0px 0px 4px black;
  }
}

