<div class="container-fluid mt-3" style="width:99%">

  <label class="title-label">Agile <span class="defaultLightBlue">Crash</span> Course <span class="defaultLightBlue">Content</span></label>

  <!-- SESSION 1 START -->
  <div class="row mt-2">
    <div class="col-11 custom-modal mt-sm-3">
      <div class="row">
        <div class="center col-11 mb-5 mt-5 text-justify">
          <div class="row mb-3">
            <p class="lead">
              This course is divided into 3 Sessions. In these sessions you will cover
              all the key components of project development using the Scrum Methodology.
              These sessions are designed to give you a strong understanding of how scrum
              is implemented in the real world. The sessions will be driven by a
              pre-defined case study which provides a good example of a real project
              scenario.
            </p>
          </div>
          <hr class="shadow-sm">
          <div class="row mb-3">
            <h1 class="center pr-5">
              < Session 1 >
            </h1>
          </div>
          <hr class="shadow-sm">
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Introduction –
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">The course will begin with an introduction into what this course is
              about, how it will be taught and what you will learn from it. </p>

              <p class="lead">An Introduction into Session 1 and Your Learning Objectives</p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Agile –
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">A brief history about Agile</p>
            <p class="lead ml-3">- What methodologies were used before Agile existed </p>
            <p class="lead ml-3">- What the Agile movement is </p>
            <p class="lead ml-3">- How Agile is Today </p>
            <p class="lead"> Introduction to the Agile Manifesto </p>
            <p class="lead ml-3">- What the core principles and values mean </p>

            <p class="lead"> The Agile Effect </p>
            <p class="lead ml-3">- What implementing Agile can do </p>
            <p class="lead"> A Quiz regarding Agile</p>
            <p class="lead ml-3">- Scoring enough points will enable you to continue through the course </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Scrum –
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">Introducing Agile Frameworks</p>
            <p class="lead ml-3">- Explaining what Agile Frameworks are</p>
            <p class="lead ml-3">- The most commonly used Frameworks</p>
            <p class="lead ml-3">- Introducing Scrum</p>

            <p class="lead">
              A brief History on Scrum
              - How Scrum came to be
              - How Scrum is used today
            </p>

            <p class="lead">
              What Scrum Values
              - What the Scrum Guide is
              - What Scrums principles and values are
            </p>

            <p class="lead">
              Scrums Framework
              - What Sprints are and what they consist of
              - How work is measure in Scrum
              - What the Scrum Roles are and what they mean
              - What the Scrum Events are
              - What other Resources Scrum utipses
            </p>

            <p class="lead">
              An Average Scrum daily
              - What each role does on a day-to-day basis
            </p>

            <p class="lead">
              A Quiz regarding Scrum
              - Scoring enough points will enable you to continue through the course
            </p>

          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Case Study –
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              Introduction to the Case Study </p>              
            <p class="lead ml-3">- What the case study is about</p>
            <p class="lead ml-3">- What your position is in the case study</p>

            <p class="lead">
              What you need to do</p>
              <p class="lead ml-3">- Based on the Case Study and Your Position in the Case Study you will be
              required to create a pst of requirements which will be known as the
              Product Backlog</p>
              <p class="lead ml-3">- A Submission of the Product Backlog will allow you to continue to the
              next stage</p>

            <p class="lead">
              A Quiz regarding the Case Study</p>
              <p class="lead ml-3">- Scoring enough points will enable you to continue through the course</p>
            
            <div class="d-flex justify-content-center m-5">
                <button mat-raised-button routerLink="/session-one">Go To Session 1</button>
            </div>

          </div>
  <!-- SESSION 1 END -->

          <hr class="shadow-sm">

  <!-- SESSION 2 START -->
          <div class="row mb-3">
            <h1 class="center pr-5">
              < Session 2 >
            </h1>
          </div>
          <hr class="shadow-sm">
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Introduction –
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">An Introduction into Session 2 and what you will complete by the end of
              the Session
            </p>
            <p class="lead">How the Scrum roles will be utipsed throughout the Session
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Scrum Event – Sprint Planning Meeting
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - Based on the Product Backlog You created in Session 1, you will be asked
              to analyse, prioritise and define a pst of requirements to be implemented
              during the first Sprint
            </p>
            <p class="lead">
              - You will be following Scrum methods in order to gather these requirements
            </p>
            <p class="lead">
              - You will then submit these requirements in order to continue
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Scrum Event – Daily Scrum Meeting
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - You will be conducting a daily scrum meeting
            </p>
            <p class="lead">
              - You will base the content of this meeting on the tasks you have been
              assigned to complete on this sprint
            </p>
            <p class="lead">
              - You will then submit what you discussed during the meeting
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Product Design
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - This stage is the official start of your First Sprint
            </p>
            <p class="lead">
              - You will be designing some Diagram based on the context of the case study
            </p>
            <p class="lead">
              - You will then be required to submit the diagram(‘s) in order to continue
              to the next stage
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Product Development
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - You will begin the first stage of development for the project based on
              the requirements you gathered
            </p>
            <p class="lead">
              - A submission will be required in order to continue to the next stage
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Scrum Event – Sprint Review &amp; Retrospective Meeting
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - You will complete and informal review of the progress made during the
              sprint
            </p>
            <p class="lead">
              - You will then document an assessment of the quapty of the sprint based
              on the requirements, assessing whether the assigned tasks were detailed
              enough, if there are any new requirements that need to be made and any
              other issues faces during the sprint
            </p>
            <p class="lead">
              - You will then submit a document in order to conclude the first Sprint
            </p>
          </div>
          <div class="row">
            <h4 class="mb-1 defaultLightBlue">
              A Quiz regarding Session 2
            </h4>
          </div>
            <div class="d-flex justify-content-center m-5">
                <button mat-raised-button routerLink="/session-two">Go To Session 2</button>
            </div>
  <!-- SESSION 2 END -->

          <hr class="shadow-sm">

  <!-- SESSION 3 START -->
          <div class="row mb-3">
            <h1 class="center pr-5">
              < Session 3 >
            </h1>
          </div>
          <hr class="shadow-sm">
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Introduction –
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">An Introduction into Session 3 and what you will complete by the end of
              the Session
            </p>
            <p class="lead">How Session 2 will affect the structure of Session 3
            </p>
            <p class="lead">
              - How the Scrum roles will be utipsed throughout the Session
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Scrum Event – Sprint Planning Meeting
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - Based on the Product Backlog You created in Session 1 and the
              Review/Retrospective Meeting Notes, you will be asked to analyse,
              prioritise and define a pst of requirements to be implemented during the
              second Sprint
            </p>
            <p class="lead">
              - You will be following Scrum methods in order to gather these requirements
            </p>
            <p class="lead">
              - You will then submit these requirements in order to continue
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Scrum Event – Daily Scrum Meeting
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - You will be conducting a daily scrum meeting
            </p>
            <p class="lead">
              - You will base the content of this meeting on the tasks you completed on
              the last sprint followed by the tasks you have been assigned to complete
              this sprint
            </p>
            <p class="lead">
              - You will then submit what you discussed during the meeting
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Product Design
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - This stage is the official start of your First Sprint
            </p>
            <p class="lead">
              - You will be designing some Diagram based on the context of the case study
            </p>
            <p class="lead">
              - You will then be required to submit the diagram(‘s) in order to continue
              to the next stage
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Product Development
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - You will begin the first stage of development for the project based on
              the requirements you gathered
            </p>
            <p class="lead">
              - A submission will be required in order to continue to the next stage
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              Scrum Event – Sprint Review &amp; Retrospective Meeting
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - You will complete and informal review of the progress made during the
              sprint
            </p>
            <p class="lead">
              - You will then document an assessment of the quapty of the sprint based
              on the requirements, assessing whether the assigned tasks were detailed
              enough, if there are any new requirements that need to be made and any
              other issues faces during the sprint
            </p>
            <p class="lead">
              - You will then submit a document in order to conclude the first Sprint
            </p>
          </div>
          <div class="row mb-3">
            <h4 class="mb-3 defaultLightBlue">
              A Quiz regarding Session 3
            </h4>
          </div>
          <div class="row mb-3">
            <h4 class="mb-1 defaultLightBlue">
              A Review of the Course
            </h4>
          </div>
          <div class="mb-3">
            <p class="lead">
              - What you have covered in the course
            </p>
            <p class="lead">
              - What you haven’t covered in the course
            </p>
            <p class="lead">
              - Your results in each quiz
            </p>
            <p class="lead">
              - A review of all the documents you created
            </p>
          </div>
          <div class="d-flex justify-content-center mt-5 mb-5">
              <button mat-raised-button routerLink="/session-three">Go To Session 3</button>
          </div>
          <hr class="shadow-sm mb-5">
            <p class="lead text-danger">
              ** Documents created during the sprint will be visible once the Sprint is
              completed
            </p>        
            <p class="lead text-danger">
              ** Throughout the Process you will be provided examples of how each
              required document should be structured
            </p>
  <!-- SESSION 3 END -->

        </div>
      </div>
    </div>
  </div>