<div class="container-fluid mt-3">

  <p class="title-label">My <span class="defaultLightBlue">Profile</span></p>
  <!-- PERSONAL user -->
  <div class="mt-2 row">
    <div class="col-12 custom-modal mt-sm-3"
      style="min-height: fit-content;max-height: 50vh;width: max-content;padding: 1.5rem;">
      <div class="row">
        <div class="col-5 mb-3 mt-3 text-justify center">
          <div class="form-horizontal center">
            <div class="form-group">
              <h1 class="center">Personal Details</h1>
              <hr class="shadow-sm">
            </div>
            <div class="form-group">
              <h4 class="form-control-static font-weight-bold">Full Name:</h4>
              <h4 class="form-control-static defaultLightBlue">{{ user?.name | titlecase }}</h4>
              <h4 class="form-control-static font-weight-bold">Username:</h4>
              <h4 class="form-control-static defaultLightBlue">{{ user?.username }}</h4>
              <h4 class="form-control-static font-weight-bold">Email:</h4>
              <h4 class="form-control-static defaultLightBlue">{{ user?.email }}</h4>
            </div>
          </div>
        </div>
        <div class="col-5 mb-3 mt-3 text-justify center">
          <div class="form-horizontal center">
            <div class="form-group">
              <h1 class="center">Course Progress</h1>
              <hr class="shadow-sm">
              <h4 class="control-label font-weight-bold profile-headings">
                < Current Session >
              </h4>
              <h4 class="form-control-static defaultLightBlue center">{{ user?.session | titlecase }}</h4>
              <hr class="shadow-sm">
              <h4 class="control-label font-weight-bold profile-headings">
                < Current Task >
              </h4>
              <h4 class="form-control-static defaultLightBlue center">{{ user?.task | titlecase }}</h4>
              <hr class="shadow-sm">
              <h4 class="control-label font-weight-bold profile-headings">
                < Course Complete (%) >
              </h4>
              <h4 class="form-control-static defaultLightBlue center">{{ user?.task | titlecase }}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="center col-11 text-justify">
          <div class="form-horizontal">

            <div class="form-group">
              <hr class="shadow-sm">
              <h4 class=" control-label font-weight-bold profile-headings">
                < Uploaded Documents >
              </h4>
              <hr class="shadow-sm">
              <h4 class="form-control-static ml-3">Session 1: </h4>
              <h4 class="form-control-static defaultLightBlue ml-3">UPLOAD #1</h4>
              <h4 class="form-control-static ml-3">Session 2:</h4>
              <h4 class="form-control-static defaultLightBlue ml-3">UPLOAD #2</h4>
              <h4 class="form-control-static ml-3">Session 3:</h4>
              <h4 class="form-control-static defaultLightBlue ml-3">UPLOAD #3</h4>
            </div>
            <div class="form-group">
              <hr class="shadow-sm">
              <h4 class=" control-label font-weight-bold profile-headings">
                < Quiz Results >
              </h4>
              <hr class="shadow-sm">
              <h4 class="form-control-static ml-3">Quiz Name:</h4>
              <h4 class="form-control-static defaultLightBlue ml-3"></h4>
              <h4 class="form-control-static ml-3">Result: </h4>
              <h4 class="form-control-static defaultLightBlue ml-3"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
