<form (submit)="login()">
  <label class="login-title-label">Account Login</label>
  <div class="login-modal">
    <div class="login-input-container">
      <mat-form-field class="login-input-block">
        <input matInput class="login-input-field" type="text" name="username" [(ngModel)]="user.username">
        <mat-placeholder for="username" class="login-label">Username</mat-placeholder>
        <span class="login-input-icon-clear" *ngIf="user.username" matSuffix mat-icon-button (click)="user.username=''">
          <mat-icon>close</mat-icon>
        </span>
      </mat-form-field>
      <mat-form-field class="login-input-block">
        <input matInput class="login-input-field" type="password"name="password" [(ngModel)]="user.password">
        <mat-placeholder for="password" class="login-label">Password</mat-placeholder>
        <span class="login-input-icon-clear" *ngIf="user.password" matSuffix mat-icon-button (click)="user.password=''">
            <mat-icon>close</mat-icon>
        </span>
      </mat-form-field>
    </div>
    <div class="login-input-submit">
      <button type="submit" class="btn btn-default submit-button">Sign In</button>
      <span class="login-register-text">Create an Account?</span>
      <a class="register-button" routerLink="/register">Sign Up</a>
    </div>
  </div>
</form>