// IMPORT VARIABLES
@import "../../../styles/variables";

  .login-input-container {
    position: relative;
    top: 20px;

    .mat-input-element {
        height: 50px;
      
        .mat-focused .login-label {
          font-family: $defaultFont;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 30px;
          margin: $defaultMargin;
          color: $defaultLightGrey;
          letter-spacing: 0.1em;
          background: $defaultDarkGrey;
        }
      }

    /* Username & Password */
    .login-input-block {
      width: 70%;
      margin: 5% 15%;

        .login-label {
          font-family: "Righteous", cursive;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 25px;
          margin: $defaultMargin;
          color: $defaultDarkGrey;
          letter-spacing: 0.1em;
        }


        .login-input-field {
            width: 100%;
        }
        .mat-input-element{
            font-family: $defaultFont;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 20px;
            margin: 10px 0 -10px 15px;
        }
        .mat-form-field-suffix {
            font-size: 20px;
            color: $defaultDarkGrey;
        }
        .mat-form-field-underline{
            background-color: $defaultDarkGrey;
            &::after{
              background-color: $defaultDarkGrey;
            }
        }
    }
  }
  .login-input-submit {
    text-align: center;
    position: relative;
    top: 20px;
    left: 90px;

    /* Submit Button */
    .submit-button {
      width: 170px;    
      height: 50px;    
      background: #516374;    
      box-sizing: border-box;    
      border-radius: 20px;    
      font-family: "righteous", cursive;    
      font-style: normal;    
      line-height: normal;    
      font-size: 25px;    
      text-align: center;    
      color: #fff;    
      letter-spacing: 0.1em;    
      box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    }
    /* Register Text & Button */
    .login-register-text{
      position: relative;
      top: 94px;
      left: -35px;
      font-size: 13px;
    }

    .register-button {
      position: relative;
      left: -26px;
      top: 95px;
      width: 115px;
      height: 35px;
      font-family: "Righteous", cursive;
      font-style: normal;
      font-weight: normal;
      line-height: unset;
      font-size: 15px;
      text-align: center;
      color: #3d9eb3;
      letter-spacing: 0.1em;
    }

  }
