/* You can add global styles to this file, and also import other style files */
@import './styles/variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Righteous');

// App Component
@import '../src/app/app.component.scss';
// Main Component
@import '../src/app/components/main/main.component.scss';
// Login Component
@import '../src/app/components/login/login.component.scss';






html, body { height: 100%; }
body { margin: 0; font-family: $defaultFont; background: $defaultBackground; background-repeat: no-repeat;
    background-attachment: fixed;}
