/* You can add global styles to this file, and also import other style files */
@import './styles/variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Righteous');

// App Component
@import '../src/app/app.component.scss';

// Home Component
@import '../src/app/components/home/home.component.scss';

// Login Component
@import '../src/app/components/login/login.component.scss';

// Register Component
@import '../src/app/components/register/register.component.scss';

// Quiz Component
@import '../src/app/components/quiz/quiz.component.scss';

// SessionTemplate Component
@import '../src/app/components/session-template/session-template.component.scss';

// SessionOne Component
@import '../src/app/components/session-template/session-one/session-one.component.scss';

// SessionTwo Component
@import '../src/app/components/session-template/session-two/session-two.component.scss';

// SessionThree Component
@import '../src/app/components/session-template/session-three/session-three.component.scss';





html, body { height: 100%; }
body { margin: 0; font-family: $defaultFont; background: $defaultBackground; background-repeat: no-repeat;
    background-attachment: fixed; padding-top: 50px; padding-bottom: 50px; }



    // GLOBAL STYLES

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: $defaultLightBlue;
}

.title-label {
    position: relative;
    width: 100%;
    margin: 10px;
    font-family: "Righteous", cursive;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 3em;
    text-align: center;
    color: rgb(255,255,255);
    text-shadow: 2px 2px 5px black;
}

/* Modal */

.custom-modal {
    width: auto;
    min-height: 370px;
    margin: 0 auto;
    background: #E5E5E5;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 20px;
}  

.center {
    margin: 0 auto;
    text-align: center;
    align-items: center;
}