<div class="home-container">
    <div class="home-content">
        <blockquote class="blockquote bq-primary">
            <p class="bq-title">Info notification</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quibusdam dignissimos itaque harum illo!
              Quidem, corporis at quae tempore nisi impedit cupiditate perferendis nesciunt, ex dolores doloremque!
              Sit, rem, in?
            </p>
          </blockquote>

          <blockquote class="blockquote text-center">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer mb-3">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>

          <p class="lead">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
          </p>

            <h2 class="h1-responsive">h1. heading</h2>
            <hr>
            <h2 class="h2-responsive">h2. heading</h2>
            <hr>
            <h3 class="h3-responsive">h3. heading</h3>
            <hr>
            <h4 class="h4-responsive">h4. heading</h4>
            <hr>
            <h5 class="h5-responsive">h5. heading</h5>

            <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit
                  <ul>
                    <li>Phasellus iaculis neque</li>
                    <li>Purus sodales ultricies</li>
                    <li>Vestibulum laoreet porttitor sem</li>
                    <li>Ac tristique libero volutpat at</li>
                  </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
              </ul>

              <dl class="row">
                <dt class="col-sm-3">Description lists</dt>
                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
              
                <dt class="col-sm-3">Euismod</dt>
                <dd class="col-sm-9">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                <dd class="col-sm-9 offset-sm-3">Donec id elit non mi porta gravida at eget metus.</dd>
              
                <dt class="col-sm-3">Malesuada porta</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
              
                <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                  massa justo sit amet
                  risus.
                </dd>
              
                <dt class="col-sm-3">Nesting</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Nested definition list</dt>
                    <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                  </dl>
                </dd>
              </dl>

            <p class="red-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p class="pink-text">Impedit architecto, totam hic sunt eum odio, deleniti.</p>
            <p class="purple-text">Similique ex, expedita minus assumenda a magni beatae dolorum itaque.</p>
            <p class="deep-purple-text">Veritatis eum libero nam, adipisci, necessitatibus eos.</p>
            <p class="indigo-text">Sapiente, ea. Molestias sunt nihil saepe numquam quas perferendis.</p>
            <p class="blue-text">Sapiente sit, possimus maiores, quo alias corporis cum eum nesciunt.</p>
            <p class="light-blue-text">Corrupti adipisci, praesentium iusto eos, iure debitis modi.</p>
            <p class="cyan-text">Odio autem veritatis aliquam consequuntur ea voluptatibus.</p>
            <p class="teal-text">Similique, adipisci ea, sequi magnam sit inventore.</p>
            <p class="green-text">Eos et vitae, odit deserunt dignissimos voluptas.</p>
            <p class="light-green-text">Fugit nihil numquam inventore accusantium tenetur ex est.</p>
            <p class="lime-text">Sed odit inventore illum excepturi officia, reiciendis numquam modi.</p>
            <p class="yellow-text">At odio animi distinctio, aut enim tempora nobis error odit mollitia.</p>
            <p class="amber-text">Quo at accusamus vel earum hic, inventore non, minima sint.</p>
            <p class="orange-text">Iusto odit eos distinctio temporibus voluptates ad, illo repellat.</p>
            <p class="deep-orange-text">Quas fugit fuga assumenda nihil esse et culpa reiciendis voluptatum.</p>
            <p class="brown-text">Excepturi iusto amet sunt illo ad debitis quibusdam eius, consequatur.</p>
            <p class="grey-text">Non sint nulla incidunt, odit repellat tempore, veniam ratione fugit.</p>
            <p class="blue-grey-text">Eius, provident. Quo similique, repellat atque voluptas explicabo odio.</p>
            <p class="mdb-color white-text">In consequuntur error, non consequatur expedita maxime dolorum.</p>
    </div>
</div>