<mat-card class="content-card">
    <mat-card-header>
      <mat-card-title>Introduction</mat-card-title>
      <mat-card-subtitle>Everything Agile</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <div class="center-items">
    <mat-card-actions>
      <button mat-button type="button" class="btn align-middle btn-primary btn-lg" (click)="openDialog()">Large button {{ stage$ }}</button>
    </mat-card-actions>
  </div>
  </mat-card>

<mat-card class="content-card">
    <mat-card-header>
      <mat-card-title>Introduction</mat-card-title>
      <mat-card-subtitle>Target >--> Scrum</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <div class="center-items">
      <mat-card-actions>
        <button mat-button type="button" class="btn align-middle btn-primary btn-lg" disabled="stage=1? true : false" (click)="openDialog()">Large button</button>
      </mat-card-actions>
  </div>
  </mat-card>


<mat-card class="content-card">
    <mat-card-header>
      <mat-card-title>Introduction</mat-card-title>
      <mat-card-subtitle>The Quest</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <div class="center-items">
      <mat-card-actions>
        <button mat-button type="button" class="btn align-middle btn-primary btn-lg" (click)="openDialog()">Large button</button>
      </mat-card-actions>
  </div>
  </mat-card>

  <mat-card class="content-card">
      <mat-card-header>
        <mat-card-title>Introduction</mat-card-title>
        <mat-card-subtitle>Step into the DoJo</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <div class="center-items">
        <mat-card-actions>
          <button mat-button type="button" class="btn align-middle btn-primary btn-lg" (click)="openDialog()">Large button</button>
        </mat-card-actions>
    </div>
    </mat-card>