
.hometitle {
    margin: 4% auto 0px auto;
    text-align: center;
    border: 2px solid;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
}

.home-container {
    width: 80%;
    border: 2px solid;
    border-radius: 10px;
    margin: 5px auto 0 auto;
}

.home-content {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.content-card {
    margin: 5% 2.5% 5% 2.5%;
    max-width: 350px;
    width: auto;
    flex-basis: 45%;
  }

  .center-items {
      margin: 0 auto;
      text-align: center;
  }